<%- include('header') %>

<main>
    <h1>Welcome to the Health and Fitness Club Management System</h1>
    <p>This is the main page. Use the navigation bar to access different functions.</p>
</main>

<%- include('footer') %> 
